@page "/flights"

<h3>Flight Finder</h3>

<form class="findFlights">
    <div>
        <p>From: </p>
        <input placeholder="Any" id="from" />
    </div>
    <div>
        <p>To: </p>
        <input placeholder="Any" id="to" />
    </div>
    <div>
        <p>Day: </p>
        <input placeholder="Any" id="day" />
    </div>
    <p></p>
    <button class="blueButton">Find flights</button>
</form>

<h3>Flights</h3>
<div class="flights">
    <input placeholder="Loading..." />
</div>

<h3>Reserve</h3>
<form>
    <div>
        <p>Flight Code: </p>
        <input placeholder="Flight" />
    </div>
    <div class="flex-column reserveFlights">
        <p>Airline: </p>
        <input placeholder="Airline" />
    </div>
    <div>
        <p>Day: </p>
        <input placeholder="Day" />
    </div>
    <div>
        <p>Time: </p>
        <input placeholder="Time" />
    </div>
    <div>
        <p>Cost: </p>
        <input placeholder="0" />
    </div>
    <div>
        <p>Name: </p>
        <input placeholder="Name" />
    </div>
    <div>
        <p>Citizenship: </p>
        <input placeholder="Citizenship" />
    </div>
    <div class="reserveButton">
        <button class="blueButton">Reserve</button>
    </div>
</form>
@code {

}
