@page "/reservations"

<h3>Reservation Finder</h3>

<form class ="findReservations">
    <div>
        <p>Code: </p>
        <input placeholder="Any" id="code" />
    </div>
    <div>
        <p>Airline: </p>
        <input placeholder="Any" id="airline" />
    </div>
    <div>
        <p>Name: </p>
        <input placeholder="Any" id="name" />
    </div>
    <p></p>
    <button class="blueButton">Find reservations</button>
</form>

<h3>Reservations</h3>
<div class="reservations">
    <input placeholder="Loading..." />
</div>

<h3>Reserve</h3>
<form>
    <div class="flex-column reserveReservations">
        <p>Reservation Code:</p>
        <input placeholder="Reservation Code" />
    </div>
    <div class="flex-column reserveReservations">
        <p>Flight Code:</p>
        <input placeholder="Flight" />
    </div>
    <div class="flex-column reserveReservations">
        <p>Airline:</p>
        <input placeholder="Airline" />
    </div>
    <div class="flex-column reserveReservations">
        <p>Cost:</p>
        <input placeholder="0" />
    </div>
    <div class="flex-column reserveReservations">
        <p>Name:</p>
        <input placeholder="Name" />
    </div>
    <div class="flex-column reserveReservations">
        <p>Citizenship:</p>
        <input placeholder="Citizenship" />
    </div>
    <div class="flex-column reserveReservations">
        <p>Status:</p>
        <input placeholder="Active" />
    </div>
    <div class="saveButton">
        <button class="blueButton">Save</button>
    </div>
</form>
@code {
    private List<Reservations> reservations;
    private Reservations reservationToEdit;
    private string searchReservationCode;
    private string searchAirline;
    private string searchFullName;
    private string errorMessage;

    private async Task SearchResevations()
    {
        reservations = await ReservationManager.FindReservation(searchReservationCode, searchAirline, searchFullName);
    }
    private async Task EditReservation(Reservations reservations)
    {
        reservationToEdit = reservations;
    }
    private void UpdateReservation()
    {
        try
        {
            ReservationManager.UpdateReservation(reservationToEdit);
            ClearEdit();
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }
    private void ClearEdit()
    {
        reservationToEdit = null;
        errorMessage = null;
    }
}
