@page "/reservations"
<div>
    <div class="flex-column">
        <div class="flex findReservations">
            <h3>Reservation Finder</h3>
            <ul>
                <li>Code: </li>
                <li>Airline: </li>
                <li>Name: </li>
            </ul>
        </div>
        <div class="reservations">
            <h3>Reservations</h3>
        </div>
        <div class="flex reserve">
            <h3>Reserve</h3>
            <ul>
                <li>Reservation Code: </li>
                <li>Flight Code: </li>
                <li>Airline: </li>
                <li>Cost: </li>
                <li>Name: </li>
                <li>Citizenship: </li>
                <li>Status: </li>
            </ul>
        </div>
    </div>
</div>
@code {

}
